@font-face {
  font-family: 'Karla';
  src: url(./fonts/Karla-VariableFont_wght.ttf);
  font-style: normal;
}

:root{
  /* primary */
  --Green-200: hsl(148, 38%, 91%);
  --Green-600: hsl(169, 82%, 27%);
  --Red: hsl(0, 66%, 54%);
  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --Grey-500: hsl(186, 15%, 59%);
  --Grey-900: hsl(187, 24%, 22%);
  font-family: 'karla', sans-serif;
}
body{
  margin: 0;
}
main{
  outline: 1px solid #555;
  max-width: 1440px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 100svh;
  min-height: 100vh;
}
main .form-container{
  width: 735px;
  margin-top: 8rem;
  padding-block: 18px;
  padding-inline: 39px;
  border-radius: 14px;
  box-sizing: border-box;
  outline: 1px solid black;
}

main .form-container h1{
  font-size: 1.9rem;
  margin-bottom: 32px;
}
main .form-container .form-fields{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px 16px;
}

main .form-container .form-fields .input-group{
  display: grid;
  row-gap: 12px;
}
main .form-container .form-fields .input-group:nth-child(3){
  grid-column: span 2;
  row-gap: 11px;
}
main .form-container .form-fields .input-group:nth-child(4){
  grid-column: span 2;
  grid-template-columns: repeat(2, 1fr);
  gap: 11px 16px;
}
main .form-container .form-fields .input-group:nth-child(4) label{
  grid-column: span 2;
  margin-bottom: 7px;
}
main .form-container .form-fields .input-group:nth-child(4) .query-type{
  border: 1px solid;
  padding: 14px 16px;
  border-radius: 8px;
}

main .form-container .form-fields .input-group .error{
  display: none;
}
main .form-container .form-fields .input-group input[type="text"]{
  min-height: 46px;
  border-radius: 8px;
  border: 1px solid;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

